<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="sdkconfig" class="com.customized.libs.config.SDKConfig">
        <property name="application" value="generic-invoker"/>
        <property name="zookeeperAddress" value="${zookeeper.address}"/>
    </bean>

    <bean class="com.customized.libs.mvc.factory.CustomizedBeanRegistryPostProcessor">
        <property name="basePackage" value="com.customized.libs.mvc"/>
        <property name="annotationType" value="com.customized.libs.mvc.annotations.MvcController"/>
    </bean>

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="#{sdkconfig.application}"/>

    <!-- 使用zookeeper注册
    中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="#{sdkconfig.zookeeperAddress}" file="/tmp/dubbo-registry-#{sdkconfig.application}.cache"/>

    <import resource="spring-rocketmq-producer.xml"/>
    <import resource="spring-rocketmq-consumer.xml"/>

    <context:component-scan base-package="com.customized.libs"/>
</beans>