<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer"
          init-method="start" destroy-method="shutdown" scope="singleton">
        <property name="namesrvAddr" value="${rocketmq.namesrv.addr}" />
        <property name="consumerGroup" value="CID_CUSTOMIZED_LIB" />
        <!-- 广播消费 or 集群消费 -->
        <property name="messageModel" value="CLUSTERING" />
        <property name="consumeFromWhere" value="CONSUME_FROM_FIRST_OFFSET" />
        <property name="consumeThreadMax" value="200"/>
        <property name="consumeThreadMin" value="20"/>
        <!--
        <property name="vipChannelEnabled" value="false" />
        -->
        <property name="messageListener" ref="customizedLibsConsumer" />
        <property name="subscription">
            <map>
                <!-- Topic -->
                <entry key="CUSTOMIZED_LIB">
                    <!--  Tag -->
                    <value>CUSTOMIZED_LIB</value>
                </entry>
            </map>
        </property>
    </bean>


    <bean id="customizedLibsConsumer"
          class="com.customized.libs.libs.rocketmq.consumer.MQConsumerContainer">
        <property name="customizeMQConsumer" ref="CustomizedLibsConsumer"/>
    </bean>
</beans>