<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://com.smart.lib.spring/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://com.smart.lib.spring/schema/beans http://com.smart.lib.spring.ioc/spring-beans-2.0.xsd">
<!--    <bean id="userDao" class="com.smart.lib.spring.ioc.bean.test.UserDaoProxy" init-method="initData"-->
<!--          destroy-method="destroy"/>-->
    <!--<bean id="userServiceImpl" class="com.smart.lib.spring.ioc.bean.test.UserServiceImpl">
        <property name="name" value="10001"/>
        <property name="company" value="卡友"/>
        <property name="userDao" ref="userDao"/>
    </bean>-->

    <bean class="com.smart.lib.spring.ioc.bean.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

<!--    <bean class="com.smart.lib.spring.ioc.bean.test.bean.support.MyBeanFactoryPostProcessor"/>-->
<!--    <bean class="com.smart.lib.spring.ioc.bean.test.bean.support.MyBeanPostProcessor"/>-->

<!--    <bean class="com.smart.lib.spring.ioc.bean.test.event.ContextClosedEventListener"/>-->
<!--    <bean class="com.smart.lib.spring.ioc.bean.test.event.ContextRefreshedEventListener"/>-->
<!--    <bean class="com.smart.lib.spring.ioc.bean.test.event.CustomEventListener"/>-->
</beans>